<!-- feed.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>News Feed</h2>
    <nav class="navigation">
        <ul>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'social:logout' %}">Logout</a>

                {% endif %}
            </li>

        </ul>
    </nav>
    {% for post in posts %}
        <div class="post">
            <h3>{{ post.user.email }}</h3>
            <p>{{ post.content }}</p>
            <!-- Display post details such as date, likes, comments, etc. -->
            <div class="post-actions">
                


            

                {% if post.user == request.user %}
                    <!-- Edit post -->
                    <form method="get" action="{% url 'social:edit_post' post.id %}">
                        <button type="submit">Edit</button>
                    </form>

                    <!-- Delete post -->
                    <form method="post" action="{% url 'social:delete_post' post.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No posts found.</p>
    {% endfor %}
{% endblock %}



                <!-- Like post -->
                <!-- <form method="post" action="{% url 'social:like_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit">Like</button>
                </form> -->

                <!-- Comment on post -->
                <!-- <form method="post" action="{% url 'social:create_comment' post.id %}">
                    {% csrf_token %}
                    <input type="text" name="comment" placeholder="Add a comment...">
                    <button type="submit">Comment</button>
                </form> -->